body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: rgba(211, 211, 211, 0.146)
}
.cheesy{
  height: auto; 
  border-radius: 5%;
  width: 27%;
}

.square-check{
  font-size: 21px; 
}

.square-regular{
  font-size: 21px;
}
.well{
 display: none;
}

.fa-trash-o{
  font-size: 21px;
  color: rgb(138, 10, 10); 
  float: right;
}


/* .collectionContainer{
  display: flexbox; 
} */

.form-select{
  height: 2em;
}

.list-group-item{
  list-style: none;
}